.foodcard{
    width: 300px;
    border: 1px solid papayawhip;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
}
.foodcard:hover{
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    transition: 0.3s;
   /* transform:rotate(-1deg);*/
}
.foodcard-title{
    text-align: center;
    color: rgb(90, 105, 105);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}
.foodcard-description{
    color: rgb(157, 80, 24);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.foodcard-icon{
    position: absolute;
    top: 20px;
    right: 25px;
    height: 30px;
}
.foodcard-image{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}
